*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: lightblue;
}
h1, h5 {
    text-align: center;
    margin-top: 50px;
}
h5{
    margin-top: 20px;
}
form {
    margin-top: 20px;
    text-align: center;
}
input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 60%;
    margin-right: 10px;
}
button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #008CBA;
    color: white;
    cursor: pointer;
}
ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    text-align: center;
}
li {
    display: flex;
    align-items: center;
    width:350px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    margin-left: 25px;
    margin-bottom: 10px;
}
li span {
    padding:0 auto;
    padding-top:10px;
    padding-bottom:10px;
    min-height:30px;
    margin-left:5px;
    width:130px;
    word-wrap:break-word;
    outline:1px solid silver;
    border-radius:5px;
}
li button {
    margin-left:10px;
    padding:0;
    background-color: #00CC00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50px;
    height:50px;
    display:grid;
    place-items:center;
    text-align:center;
}
li .completed {
    text-decoration: line-through;
}
li .red{
    background-color: #ff3333;
}
li .blue{
    background-color: #008CBA;
}
li .focus{
    outline:1px solid orange;
}
.handle{
    width:50px;
    margin: 0px;
    justify-content: center;
    align-items: center;
    font-size:1.5rem;
    font-weight:900;
    border-radius:5px;
    border: none;
    outline: none;
}